* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--font-family);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-white);
  cursor: pointer;
}

h2 {
  color: var(--color-blue);
  font-size: var(--small-size);
  margin-left: 3rem;
  text-align: start;
}
@media (max-width: 400px) {
  h2 {
    display: none;
  }
}

h1 {
  font-size: var(--hight-size);
  color: var(--color-blue);
  font-weight: 600;
  margin: 6rem 0;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: var(--medium-size);
  text-align: center;
  color: var(--color-blue);
}

h4 {
  font-size: var(--normal-size);
  text-transform: uppercase;
  color: var(--color-white);
  text-decoration: underline;
}

h5 {
  font-size: var(--normal-size);
  text-transform: uppercase;
  color: var(--color-white);
}

p {
  font-size: var(--smaller-size);
}
@media (max-width: 400px) {
  p {
    padding: 0 2rem;
  }
}

/* HEADER */
.nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  /* logo Classe pour le svg */
}
.nav header {
  background-color: var(--color-white);
}
.nav header .bandeau {
  background: var(--color-blue);
  height: 3.5rem;
}
.nav header .container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.nav header .container_header .container_logo {
  display: flex;
  align-items: center;
}
.nav .st0 {
  fill: var(--color-blue);
}
.nav .st1 {
  fill: var(--color-orange);
}
.nav .st2 {
  fill: var(--color-yellow);
}
.nav .nav_menu {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background: var(--color-blue);
  transform: translateX(110%);
  transition: all 0.2s ease-in-out;
}

.navbar__link {
  transform: translateX(101%);
  transition: all 0.1s ease-in-out;
}
.navbar__link > a {
  display: flex;
  justify-content: center;
  margin: 8rem;
  font-size: var(--small-size);
  color: var(--color-card);
  transition: all 0.1s ease-in-out;
  text-align: center;
}
.navbar__link > a:hover {
  color: var(--color-yellow);
}

/* Menu Burger */
.burger {
  display: block;
  position: relative;
  width: 45px;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.burger .bar {
  display: block;
  width: 45px;
  border-radius: 3px;
  height: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: var(--color-blue);
  position: fixed;
}

.bar::before,
.bar::after {
  content: "";
  width: 45px;
  height: 4px;
  position: absolute;
  left: 0;
  background: var(--color-blue);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.bar::before {
  transform: translateY(-12px);
}

.bar::after {
  transform: translateY(12px);
}

.show-nav .nav_menu {
  width: 25vw;
  height: 100vh;
  transform: translateX(0);
  position: fixed;
  z-index: 1;
}
.show-nav .nav_menu .navbar__link {
  transform: translateX(0);
}

.show-nav .bar {
  width: 0;
  background: transparent;
  z-index: 1;
}

.show-nav .bar::before {
  transform: rotate(45deg);
  background: var(--color-card);
}

.show-nav .bar::after {
  transform: rotate(-45deg);
  background: var(--color-card);
}

/* Animations text nav burger */
.show-nav .first {
  transition: all 0.2s ease-out;
}

.show-nav .second {
  transition: all 0.3s ease-out;
}

.show-nav .third {
  transition: all 0.4s ease-out;
}

.show-nav .four {
  transition: all 0.5s ease-out;
}

/*Mobile burger */
@media screen and (max-width: 767.98px) {
  .navbar__link > a {
    margin: 5rem 0;
    font-size: --smalling-size;
  }
  .show-nav .nav_menu {
    width: 60vw;
    z-index: 1;
  }
  .show-nav .bar::before {
    z-index: 1;
  }
  .show-nav .bar::after {
    z-index: 1;
  }
}
footer {
  background: var(--color-yellow);
  margin-top: 5rem;
}
footer .social {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}
footer .social .st3 {
  fill: var(--color-white);
}
footer .container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 5rem;
}
@media (max-width: 400px) {
  footer .container {
    flex-direction: column;
    align-content: center;
    text-align: center;
  }
  footer .container div {
    margin: 2rem;
  }
}
footer ul li {
  margin: 1.2rem 0;
  font-size: var(--small-size);
}
footer ul li a {
  color: var(--color-white);
}
footer .legale,
footer .legale a {
  text-align: center;
  background: var(--color-white);
  color: var(--color-blue);
  font-size: var(--small-size);
  padding: 1rem;
}

/*Barre de progression */
.step {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 15%;
}

.container_step {
  margin-top: 20rem;
  max-width: 835px;
  width: 100%;
}
.container_step .progress--bar {
  display: flex;
}
.container_step .progress--bar li {
  position: relative;
  text-align: center;
  color: var(--color-icons-transparent);
  width: 100%;
  font-weight: var(--bold-weight);
}
.container_step .progress--bar li::before {
  content: counter(step);
  counter-increment: step;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 1px solid var(--color-icons-transparent);
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
  color: white;
}
.container_step .progress--bar li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  top: 25px;
  left: -50%;
  z-index: -1;
  background: var(--color-icons-transparent);
}
.container_step .progress--bar li:first-child::after {
  content: none;
}
.container_step .progress--bar li.active {
  color: var(--color-orange);
}
.container_step .progress--bar li.active::before {
  border-color: var(--color-orange);
  background: var(--color-orange);
  background-image: url(/asset/images/icons8-euro-50.png);
}
.container_step .progress--bar li.active + li::after {
  background-color: var(--color-orange);
}

/*Bouton retour */
@media (max-width: 1600px) {
  .return {
    display: none;
  }
}
@media (max-width: 599px) {
  .return {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10%;
    cursor: pointer;
  }
  .return #logo_return {
    width: 40px;
    height: 40px;
  }
}

.titre {
  text-align: center;
}

/*Tableau */
table {
  width: 60vw;
}
@media (max-width: 320px) {
  table {
    width: 90vw;
  }
}
table tr th {
  background-color: var(--color-blue);
  text-align: center;
  color: var(--color-white);
}
table th,
table td {
  text-align: center;
  padding: var(--smalling-size);
  font-size: var(--medium-size);
  border-radius: 0.5rem;
  width: 33.3333333333%;
}
@media (max-width: 600px) {
  table th,
  table td {
    font-size: var(--smaller-size);
  }
}
@media (max-width: 1024px) {
  table th,
  table td {
    font-size: var(--smalling-size);
  }
}
table .color_table2 {
  background-color: var(--color-icons-transparent);
}
table .color_table {
  background-color: var(--color-blue-transparent);
}

.condition p {
  text-align: center;
  font-size: var(--smalling-size);
  margin: 0.5rem;
}

/*Card Promo */
.container_card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  flex-direction: column;
  /* Card formules only mobil */
  /*Card Form */
  /*Etapes */
}
.container_card .card_promo {
  margin-top: var(--hight-size2);
  text-align: center;
  padding: 20px;
  width: 60vw;
  border-radius: 0.8rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.container_card .card_promo h4 {
  color: red;
  text-decoration: none;
  font-size: var(--light-weight);
  font-weight: var(--semi-bold);
}
.container_card .container_formules {
  display: none;
}
@media (max-width: 768px) {
  .container_card .container_formules {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 70px;
    cursor: pointer;
  }
}
.container_card .container_formules .card_1,
.container_card .container_formules .card_2 {
  width: 25vw;
  height: 15vh;
  border-radius: 0.5rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.container_card .container_formules .card_1 #formule1,
.container_card .container_formules .card_1 #formule2,
.container_card .container_formules .card_2 #formule1,
.container_card .container_formules .card_2 #formule2 {
  font-size: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-blue);
  font-weight: var(--bold-weight);
}
@media (max-width: 600px) {
  .container_card .container_formules .card_1,
  .container_card .container_formules .card_2 {
    width: 35vw;
    height: 15vh;
  }
}
@media (max-width: 320px) {
  .container_card .container_formules .card_1,
  .container_card .container_formules .card_2 {
    width: 38vw;
    height: 12vh;
  }
}
.container_card .card_form {
  margin-top: var(--hight-size2);
  width: 60vw;
  height: 22vh;
  border-radius: 0.8rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .container_card .card_form {
    display: none;
  }
}
@media (max-width: 320px) {
  .container_card .card_form {
    width: 90vw;
  }
}
.container_card p {
  color: var(--color-blue);
  font-weight: var(--semi-bold);
  font-size: var(--smaller-size);
  text-align: center;
  padding: var(--medium-size);
}
.container_card .radio_input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container_card .radio_input .input1,
.container_card .radio_input .input2 {
  margin-top: 20px;
}
@media (max-width: 1024px) {
  .container_card .radio_input .input1,
  .container_card .radio_input .input2 {
    margin-top: 10px;
  }
}
.container_card .radio_input .input1 span,
.container_card .radio_input .input2 span {
  color: var(--color-blue);
  font-weight: var(--bold-weight);
}

/*Bouton */
.btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
@media (max-width: 400px) {
  .btn {
    flex-direction: column-reverse;
  }
}

.form__btn {
  background: var(--color-orange);
  color: #fff;
  border: none;
  width: 17rem;
  height: 2.5rem;
  margin: 5rem auto;
  border-radius: var(--medium-size);
  font-weight: var(--bold-weight);
  cursor: pointer;
}
@media (max-width: 320px) {
  .form__btn {
    margin: 2rem auto;
    width: 20rem;
  }
}

.form__btn2 {
  background: var(--color-blue);
  color: #fff;
  border: none;
  width: 17rem;
  height: 2.5rem;
  margin: 5rem auto;
  padding: 0.2rem;
  border-radius: var(--medium-size);
  font-weight: var(--bold-weight);
  cursor: pointer;
}
@media (max-width: 600px) {
  .form__btn2 {
    display: none;
  }
}

/*Animation card_promo 

.container:before,
.container:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 5px var(--color-blue) solid;
  transition: all 0.5s;
  border-radius: 8px;
}
.container:before {
  top: -1px;
  left: -1px;
  border-width: 1px 0 0 1px;
}
.container:after {
  bottom: -1px;
  right: -1px;
  border-width: 0 1px 1px 0;
}
.container:hover.container:before,
.container:hover.container:after {
  width: calc(100% + 1px);
  height: calc(100% + 1px);
}
*/

/*# sourceMappingURL=form.css.map */
