
/* Navbar*/
.title {

margin-right:56%;
text-align:center;
}

 
/*Nav bar menu burger */
  .navbar__links { 
    overflow:hidden;
    display:flex;
    flex-direction:column;
    width:0;
    height:100vh;
    position:absolute;
    top:0;
    right:0;     
    background:var(--color-blue);  
    transform:translateX(110%);
    transition:all .2s ease-in-out;
   
  }
  .show-nav .navbar__links { 
    width:40vw;    
    height:100vh;
    transform: translateX(0);
    position:fixed;
    z-index:1;
  } 
  .navbar__link {    
    transform: translateX(101%);
    transition: all .3s ease-in-out;
    
  }
  
  .show-nav .navbar__link  {        
    transform: translateX(0);  
   
 
  }   
  .navbar__link > a {
    display:flex;
    justify-content:center;
    padding:3rem;
    margin:6.5rem;
    font-size:var(--small-size);
    color:var(--color-card);
    transition: all .1s ease-in-out;
    text-align: center;
  
  }
  .navbar__link > a:hover {

    letter-spacing:1px;
    color: var( --color-yellow);
  }

  
  /* Menu Burger */
  .burger {
    display:block;
    position:relative;
    padding:0;
    width:45px;
    height:40px;
    border:none;
    background:transparent;
    cursor:pointer;
  ;

  }
  .bar {
    display:block;    
    width:45px;
    height:4px;  
    border-radius:3px;
    background:var(--color-blue); 
    transition: all .5s ease-in-out; 
    position:fixed;

    
  }
  .bar::before, .bar::after {
    content:"";
    width:45px;
    height:4px;
    position:absolute; 
    left:0;  
    background:var(--color-blue);
    border-radius:3px;    
    transition: all .5s ease-in-out;
   
   
  }
  .bar::before {
    transform:translateY(-12px);

 
  }
  .bar::after {
    transform:translateY(12px);
 


  }
  .show-nav .bar {
    width:0;
    background:transparent;
    z-index:1;
  }
  .show-nav .bar::before {
    transform:rotate(45deg);
    background:var(--color-card);
 
  }
  .show-nav .bar::after {
    transform:rotate(-45deg);
    background:var(--color-card);
    
    
  }
  
  /* Animations text nav burger */
  .show-nav .first {      
    transition: all 0.2s ease-out;
  } 
  .show-nav .second {      
    transition: all 0.3s ease-out;
  } 
  .show-nav .third {      
    transition: all 0.4s ease-out;
  } 
  .show-nav .four {      
    transition: all 0.5s ease-out;
  } 
  .show-nav .fifth {      
    transition: all 0.6s ease-out;
  }

  /*Mobile */

  @media screen and (max-width:767.98px){


    .navbar__link > a {
     margin:6.9rem;
    }


    .show-nav .navbar__links{
      width: 100vw;
      z-index:1
    }
    .show-nav .four {
     text-align:center; 
    }
    .show-nav .bar::before {
      z-index:1;
    }
    .show-nav .bar::after  {
     z-index:1;
    }
    .title{
      display:none;
    }
  }