* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--font-family);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  color: var(--color-blue);
  font-size: var(--small-size);
  margin-left: 3rem;
  text-align: center;
}

h2 {
  font-size: var(--hight-size);
  color: var(--color-blue);
  font-weight: 600;
  margin: 6rem 0;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: var(--medium-size);
}

h4 {
  font-size: var(--normal-size);
  text-transform: uppercase;
}

h5 {
  font-size: var(--normal-size);
  text-transform: uppercase;
}

p {
  font-size: var(--smaller-size);
}

/* HEADER */
.bandeau {
  background: var(--color-blue);
  height: 3.5rem;
  width: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
header .container_logo {
  display: flex;
  align-items: center;
}
header .nav_menu {
  margin-right: 5rem;
  cursor: pointer;
}
header .nav_menu .bar {
  display: block;
  width: 3.5rem;
  border-radius: 0.5rem;
  height: 4px;
  margin: 7px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: var(--color-blue);
}

/* Classe pour le svg */
.st0 {
  fill: var(--color-blue);
}

.st1 {
  fill: var(--color-orange);
}

.st2 {
  fill: var(--color-yellow);
}

.container_picture {
  background-image: url(../images/banniere.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_picture #carousel {
  width: 300px;
  height: 200px;
  overflow: hidden;
  position: relative;
  background-color: var(--color-forms);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
.container_picture #carousel .slide {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
.container_picture #carousel .slide h5 {
  color: white;
}
.container_picture #carousel .slide .btn {
  padding: 1rem 1.3rem;
  background-color: var(--color-orange);
  border: none;
  border-radius: var(--border-radius);
  text-transform: uppercase;
  box-shadow: var(--box-shadow);
}
.container_picture #carousel .previous,
.container_picture #carousel .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: white;
  font-size: var(--biggest-size);
  transition: 0.6s ease;
  border-radius: var(--border-radius-carousel-btn);
}
.container_picture #carousel .next {
  right: 0;
  border-radius: var(--border-radius-carousel-btn);
}
.container_picture #carousel .previous:hover,
.container_picture #carousel .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

footer {
  background: var(--color-yellow);
}
footer .social {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer .container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}
footer .container h4 {
  color: white;
  text-decoration: underline;
}
footer ul li {
  margin: 1.2rem 0;
  font-size: var(--small-size);
}
footer ul li a {
  color: white;
}
footer .legale,
footer .legale a {
  text-align: center;
  background: white;
  color: var(--color-blue);
  font-size: var(--small-size);
  padding: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  text-align: center;
  max-width: 800px;
}

.about p {
  line-height: 3rem;
}

.container_cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 5rem 0;
}
.container_cards .card {
  height: 300px;
}
.container_cards .contain {
  width: 100%;
  height: 50%;
}
.container_cards .img-left {
  background-image: url(../images/policeman1.png);
  background-size: cover;
}

@media (width < 480px) {
  .container {
    flex-direction: column;
  }
  .container div {
    margin: 2rem 0;
  }
}

/*# sourceMappingURL=styles.css.map */
