//RESPONSIVE

@mixin small-smartphone {
  @media (max-width: 320px) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: 400px) {
    @content;
  }
}

@mixin small-tablette {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin medium-tablette {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tablette {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1600px) {
    @content;
  }
}




@mixin for-size($size) {
  @if $size == all-smartphone {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $size == small-tablette {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $size == medium-tablette {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $size == tablette {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $size == desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

//ALIGNEMENT
@mixin flex-jccenter-ai-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-jccenter {
  display: flex;
  justify-content: center;
}
@mixin flex-jcbetween-ai-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-ai-center {
  display: flex;
  align-items: center;
}

@mixin flex-ai-flex-start-jc-center-direction-column {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

//BTN
@mixin btn_forms {
  padding: 1rem 0.5rem;
  font-size: var(--smaller-size);
  border: none;
  border-radius: var(--border-radius-input);
  text-transform: uppercase;
  cursor: pointer;
}
