/*https://codepen.io/RajRajeshDn/pen/oNowJGJ*/

@import "reset";
@import "header";
@import "footer";
@import "mixins";

:root{
	--next-btn-hover: #8577d2;
	--back-btn-hover: #8b8c8c;
}

.main {
    background-image: url(/asset/images/icon_form/gendarmerie-nationale-14-04-2022\ \(1\)\ 1.png);
    background-size: cover;
    height:100vh;

@include flex-jccenter-ai-center;
}

.wrapper{
	width: 500px;
    height:660px;
	max-width: 100%;
	background: var(--color-white);
	margin: 130px auto 0;
	padding: 20px;
	border-radius: 5px;

	@include small-tablette {
		width: 90%;
		height:80%;
	}
	@include smartphone {
		width: 90%;
		height:65%;
		
	}
}

.wrapper .header{
	margin-bottom: 35px;
    @include flex-jccenter;
	

}

.wrapper .header ul{
	display: flex;

}

.wrapper .header ul li{
	margin-right: 30px;
	position: relative;
	@include smartphone {
		margin-right: 10px;
	}
    

}

.wrapper .header ul li:last-child{
	margin-right: 0;
}

.wrapper .header ul li:before{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 55px;
	width: 100%;
	height: 2px;
	background: var(--color-forms);

}

.wrapper .header ul li:last-child:before{
	display: none;
}

.wrapper .header ul li div{
	padding: 5px;
	border-radius: 50%;
}

.wrapper .header ul li p{
	width: 50px;
	height: 50px;
	background: var(--color-forms);
	color: var(--color-white);
	text-align: center;
	line-height: 50px;
	border-radius: 50%;


}

.wrapper .header ul li.active:before{
	background: var(--color-orange);
}

.wrapper .header ul li.active p{
	background: var(--color-orange);
}

.wrapper .form_wrap{
	margin-bottom: 35px;
}

.wrapper .form_wrap h2{
	color: var(--color-blue);
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.wrapper .form_wrap .input_wrap{
	width: 350px;
	max-width: 100%;
	margin: 0 auto 20px;
}

.wrapper .form_wrap .input_wrap:last-child{
	margin-bottom: 0;
}

.wrapper .form_wrap .input_wrap label{
	display: block;
	margin-bottom: 5px;
}
span {
    color:red;

}
p {
margin-top: 8px;
font-weight:lighter;
}

.wrapper .form_wrap .input_wrap .input{
	border: 2px solid var(--color-forms);
	border-radius: 3px;
	padding: 10px;
	display: block;
	width: 100%;	
	font-size: 16px;
	transition: 0.5s ease;
}

.wrapper .form_wrap .input_wrap .input:focus{
	border-color: var(--color-orange);
}

.wrapper .btns_wrap{
	width: 350px;
	max-width: 100%;
	margin: 0 auto;
	
}

.wrapper .btns_wrap .common_btns{
	display: flex;
	justify-content: space-between;

}

.wrapper .btns_wrap .common_btns.form_1_btns{
	justify-content: flex-end;
}

.wrapper .btns_wrap .common_btns button{
	border: 0;
	padding: 12px 15px;
	background: var(--color-orange);
	color: var(--color-white);
	width: 135px;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 16px;
	border-radius: 3px;
	transition: 0.5s ease;
	cursor: pointer;
	margin:20px;
}

.wrapper .btns_wrap .common_btns button.btn_back{
	background: var(--color-forms);
}

.wrapper .btns_wrap .common_btns button.btn_next .icon{
	display: flex;
	margin-left: 10px;
}

.wrapper .btns_wrap .common_btns button.btn_back .icon{
	display: flex;
	margin-right: 10px;
}

.wrapper .btns_wrap .common_btns button.btn_next:hover,
.wrapper .btns_wrap .common_btns button.btn_done:hover{
	background: var(--next-btn-hover);
}

.wrapper .btns_wrap .common_btns button.btn_back:hover{
	background: var(--back-btn-hover);
}

.modal_wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	visibility: hidden;
}

.modal_wrapper .shadow{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	opacity: 0;
	transition: 0.2s ease;
}

.modal_wrapper .success_wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-800px);
	background: var(--color-white);
	padding: 30px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	transition: 0.5s ease;
@include small-smartphone {
width: 290px;
height:160px;
}
    
}

.modal_wrapper .success_wrap .modal_icon{
	margin-right: 20px;
	width: 30px;
	height: 30px;
	background: var(--color-orange);
	color: var(--color-white);
	border-radius: 50%;
@include flex-jccenter-ai-center;
	font-size: 32px;
	font-weight: 700;
   
}

.modal_wrapper .success_wrap p {


width:200px;
height:100px;

}

.modal_wrapper.active{
	visibility: visible;
}

.modal_wrapper.active .shadow{
	opacity: 1;
}

.modal_wrapper.active .success_wrap{
	transform: translate(-50%,-50%);
}