@import "reset";
@import "header";
@import "footer";
@import "mixins";

.main {
  background-image: url(/asset/images/icon_form/gendarmerie-nationale-14-04-2022\ \(1\)\ 1.png);
  background-size: cover;
  height: 100vh;
  @include flex-jccenter-ai-center;
}

/*Card formulaire */

.wrapper {
  width: 670px;
  height: 820px;
  max-width: 100%;
  padding: var(--hight-size);
  background: var(--color-white);
  margin: 130px auto 0;
  border-radius: var(--smalling-size2);

  @include medium-tablette {
    width: 595px;
    height: 800px;
  }
  @include small-tablette {
    width: 400px;
    height: 820px;
  }
  @include smartphone {
    width: 310px;
    height: 830px;
  }
}

/*Progress bar*/

.wrapper .header {
  margin-bottom: 40px;
  @include flex-jccenter;
}

.wrapper .header ul {
  display: flex;
}

.wrapper .header ul li {
  margin-right: var(--hight-size2);
  position: relative;

  @include smartphone {
    margin-right: var(--smalling-size2);
  }
}

.wrapper .header ul li:last-child {
  margin-right: 0;
}

.wrapper .header ul li:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 55px;
  width: 100%;
  height: 2px;
  background: var(--color-forms);
}

.wrapper .header ul li:last-child:before {
  display: none;
}

.wrapper .header ul li div {
  padding: var(--smalling-size2);
  border-radius: 50%;
}

.wrapper .header ul li p {
  width: var(--hight-size2);
  height: var(--hight-size2);
  background: var(--color-forms);
  color: var(--color-white);
  text-align: center;
  line-height: var(--hight-size2);
  border-radius: 50%;
}

.wrapper .header ul li.active:before {
  background: var(--color-orange);
}

.wrapper .header ul li.active p {
  background: var(--color-orange);
}

.wrapper .form_wrap {
  margin-bottom: 35px;
}

.wrapper .form_wrap p {
  color: var(--color-blue);
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--semi-bold);
}

.wrapper .form_wrap .input_wrap {
  width: 600px;
  max-width: 100%;
  margin: 20px auto 20px;
}
.wrapper .form_wrap .input_wrap .input {
  border: 2px solid var(--color-forms);
  border-radius: var(--small-size);
  padding: 6px;
  display: block;
  width: 100%;
  font-size: var(--smaller-size);
  transition: 0.5s ease;
}

.wrapper .form_wrap .input_wrap .input:focus {
  border-color: var(--color-orange);
}

.wrapper .form_wrap .input_wrap label {
  display: block;
  margin-bottom: 5px;
}

.wrapper .form_wrap .input_wrap:last-child {
  margin-bottom: 0;
}

.wrapper .form_wrap .obligatory {
  color: var(--color-black);
  font-size: var(--smalling-size);
  font-weight: var(--light-weight);
  text-align: left;
  margin-top: var(--smalling-size);
  text-transform: none;
}
span {
  font-size: var(--smalling-size);
  color: red;
}

/* Input choice */

.radio_input {
  width: 100%;
  max-width: 100%;
  @include flex-ai-center-jc-center-direction-column;
  margin-top: 80px;

  .input_mix {
    @include flex-jcaround-ai-center;
    flex-direction: row;
    width: 100%;
  }

  .input1,
  .input2 {
    margin: 20px 20px;
  }

  .input1 span,
  .input2 span {
    color: var(--color-blue);
    font-weight: var(--bold-weight);
  }
}

/* Btn choice */

.wrapper .form_wrap .input_check {
  @include flex-jcbetween-ai-center;
  flex-direction: row;
  margin-top: var(--hight-size);
  @include small-tablette {
    flex-direction: column;
    margin-top: 1px;
  }
}

.wrapper .form_wrap .input_check .btn1,
.btn2,
.btn3 {
  background: var(--color-white);
  border: 2px solid var(--color-forms);
  border-radius: var(--small-size);
  padding: 6px;
  display: block;
  font-size: var(--smaller-size);
  transition: 0.5s ease;
  margin-top: var(--smalling-size);
}

.wrapper .form_wrap .input_check .btn1:hover,
.btn2:hover,
.btn3:hover {
  background: var(--color-blue);
  color: var(--color-white);
}

.wrapper .form_wrap .input_wrap2 {
  width: 100%;
  @include flex-jccenter-ai-center;
  text-align: center;
  margin-top: var(--hight-size2);
}

.wrapper .form_wrap .input_wrap2 .content_wrap {
  @include flex-jcaround-ai-center;
  flex-direction: column;
  width: 100%;
}
.wrapper .form_wrap .input_wrap2 .content_wrap .input {
  border: 2px solid var(--color-forms);
  border-radius: var(--small-size);
  padding: 6px;
  display: block;
  font-size: var(--smaller-size);
  transition: 0.5s ease;
  margin-top: var(--medium-size);
}

/*Container upload */

.container_upload {
  @include flex-jcaround;
  margin-top: var(--hight-size2);

  @include medium-tablette {
    margin-top: var(--hight-size);
  }

  @include small-tablette {
    flex-direction: column;
    align-items: center;
  }
}

.select_upload {
  margin-top: var(--smalling-size);
  height: 100px;
}

.upload-box {
  font-size: var(--smalling-size);
  background: var(--color-white);
  border-radius: var(--hight-size2);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.368);
  width: 180px;
  outline: none;
  margin-top: var(--small-size);
}

::-webkit-file-upload-button {
  color: var(--color-white);
  background: rgba(10, 24, 17, 0.421);
  padding: 8px;
  border: none;
  border-radius: var(--hight-size2);
  box-shadow: 1px 0 1px 1px;
  cursor: pointer;
}

/*Final Card */

.card {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden; /* cache le contenu débordant de la card */
}

.card-content {
  max-height: 500px;
  padding: var(--medium-size);
  box-sizing: border-box;
  overflow-y: scroll; /* affiche une barre de défilement verticale */
  scroll-behavior: smooth;
  @include medium-tablette {
    max-height: 500px;
  }
}

.header_final {
  @include flex-jccenter-ai-center;
  flex-direction: column;
  height: 100%;
}

.container {
  @include flex-jccenter-ai-center;
  flex-direction: column;
  margin-top: var(--biggest-size);
}

.img_firm {
  width: 580px;
  height: 150px;
  margin-top: var(--hight-size);
}

.content_download .container p {
  margin-right: var(--small-size);
  font-size: var(--smalling-size);
  color: var(--color-black);
}

.content_download .container .logo_download {
  margin-top: var(--hight-size2);
  width: 35px;
  height: 35px;
}

.content_download .container .scroll_down {
  width: 60px;
  height: 60px;
  margin-top: 60px;
  @include medium-tablette {
    margin-top: var(--hight-size);
  }
  @include small-smartphone {
    margin-top: 0;
  }
}

.container_final .text_content {
  font-size: var(--smalling-size);
  padding: var(--smalling-size);
}

.container_final .text_content p {
  color: var(--color-black);
  width: 100%;
}

.container_final .text_content .container ul li {
  text-align: justify;
  list-style: disc;
  margin-top: var(--hight-size);
}

.input_checkbox {
  @include flex-jccenter-ai-center;
  flex-direction: row;
  width: 100%;
}

.input_checkbox .container {
  margin-right: var(--medium-size);
  font-weight: bold;
  font-size: var(--smalling-size);
}

.container_final .text_content .container .scroll_up {
  width: 60px;
  height: 60px;
  transform: rotate(180deg);
}

/* Buttons */

.wrapper .btns_wrap .common_btns {
  @include flex-jcaround;
  margin-top: 100px;
  @include small-tablette {
    @include flex-jccenter-ai-center;
    flex-direction: column;
    margin-top: var(--hight-size);
  }
}

.wrapper .btns_wrap .common_btns button {
  border: none;
  letter-spacing: 1px;
  width: 17rem;
  height: var(--biggest-size);
  border-radius: var(--medium-size);
  font-weight: var(--bold-weight);
  cursor: pointer;
  background: var(--color-orange);
  color: var(--color-white);
  transition: all 0.3s ease 0s;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  @include small-tablette {
    margin-top: var(--medium-size);
  }
}

.wrapper .btns_wrap .common_btns button.btn_back {
  background-color: var(--color-blue);
}

.wrapper .btns_wrap .common_btns button.btn_back2 {
  background-color: var(--color-blue);
}

.wrapper .btns_wrap .common_btns button.btn_next:hover,
.wrapper .btns_wrap .common_btns button.btn_done:hover {
  background: var(--next-btn-hover);
  box-shadow: 0px 5px 10px var(--color-yellow);
  transform: translateY(-4px);
}

.wrapper .btns_wrap .common_btns button.btn_back:hover {
  background: var(--back-btn-hover);
  box-shadow: 0px 5px 10px var(--back-btn-hover);
  transform: translateY(-4px);
}

/*Modal page final */

.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.modal_wrapper .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: 0.2s ease;
}

.modal_wrapper .success_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -800px);
  background: var(--color-white);
  padding: var(--hight-size);
  @include flex-ai-center;
  border-radius: 5px;
  transition: 0.5s ease;
  @include small-smartphone {
    width: 290px;
    height: 160px;
  }
}

.modal_wrapper .success_wrap .modal_icon {
  margin-right: var(--medium-size);
  width: var(--hight-size);
  height: var(--hight-size);
  background: var(--color-orange);
  color: var(--color-white);
  border-radius: 50%;
  @include flex-jccenter-ai-center;
  font-size: 32px;
  font-weight: 700;
}

.modal_wrapper .success_wrap p {
  width: 200px;
  height: 100px;
}

.modal_wrapper.active {
  visibility: visible;
}

.modal_wrapper.active .shadow {
  opacity: 1;
}

.modal_wrapper.active .success_wrap {
  transform: translate(-50%, -50%);
}
