@import "reset";
@import "header";
@import "footer";
@import "mixins";

/*Barre de progression */

.step {
  @include flex-jccenter;
  width: 100%;
  height: 15%;
}

.container_step {
  margin-top: 20rem;
  max-width: 835px;
  width: 100%;

  .progress--bar {
    display: flex;

    li {
      position: relative;
      text-align: center;
      color: var(--color-icons-transparent);
      width: 100%;
      font-weight: var(--bold-weight);

      &::before {
        content: counter(step);
        counter-increment: step;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border: 1px solid var(--color-icons-transparent);
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        background-color: white;
        color: white;
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.2rem;
        top: 25px;
        left: -50%;
        z-index: -1;
        background: var(--color-icons-transparent);
      }

      &:first-child::after {
        content: none;
      }

      &.active {
        color: var(--color-orange);
        &::before {
          border-color: var(--color-orange);
          background: var(--color-orange);
          background-image: url(/asset/images/icons8-euro-50.png);
        }

        + li::after {
          background-color: var(--color-orange);
        }
      }
    }
  }
}

//Page formulaire //

/*Bouton retour */
.return {
  @include desktop {
    display: none;
  }
  @include for-size(all-smartphone) {
    @include flex-jccenter-ai-center;
    width: 100%;
    margin-top: 10%;
    cursor: pointer;

    #logo_return {
      width: 40px;
      height: 40px;
    }
  }
}

.titre {
  text-align: center;
}

/*Tableau */

table {
  width: 60vw;
  @include small-smartphone {
    width: 90vw;
  }
  tr {
    th {
      background-color: var(--color-blue);
      text-align: center;
      color: var(--color-white);
    }
  }

  th,
  td {
    text-align: center;
    padding: var(--smalling-size);
    font-size: var(--medium-size);
    border-radius: 0.5rem;
    width: calc(100% / 3);
    @include small-smartphone {
    }

    @include small-tablette {
      font-size: var(--smaller-size);
    }

    @include tablette {
      font-size: var(--smalling-size);
    }
  }
  .color_table2 {
    background-color: var(--color-icons-transparent);
  }

  .color_table {
    background-color: var(--color-blue-transparent);
  }
}
.condition {
  p {
    text-align: center;
    font-size: var(--smalling-size);
    margin: 0.5rem;
  }
}

/*Card Promo */

.container_card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  flex-direction: column;

  .card_promo {
    @include flex-jccenter-ai-center;
    margin-top: var(--hight-size2);
    text-align: center;
    padding: 20px;
    width: 60vw;
    border-radius: 0.8rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    @include medium-tablette {
      width:60vw;
      }
      @include smartphone {
        width: 85vw;
        height:10vh;
    }
    h4 {
      color: red;
      text-decoration: none;
      font-size: var(--light-weight);
      font-weight: var(--semi-bold);
    }
  }

  /* Card formules only mobil */

  .container_formules {
    display: none;

    @include medium-tablette {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
      width: 100%;
      margin-top: 70px;
      cursor: pointer;
    }

    .card_1,
    .card_2 {
      width: 25vw;
      height: 15vh;
      border-radius: 0.5rem;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);

      #formule1,
      #formule2 {
        font-size: 1rem;
        width: 100%;
        height: 100%;
        @include flex-jccenter-ai-center;
        text-align: center;
        color: var(--color-blue);
        font-weight: var(--bold-weight);
      }

      @include small-tablette {
        width: 35vw;
        height: 15vh;
      }
      @include small-smartphone {
        width: 38vw;
        height: 12vh;
      }
    }
  }

  /*Card Form */
  .card_form {
    margin-top: var(--hight-size2);
    width: 60vw;
    height: 22vh;
    border-radius: 0.8rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    @include medium-tablette {
      display: none;
    }

    @include small-smartphone {
      width: 90vw;
    }
  }
  p {
    color: var(--color-blue);
    font-weight: var(--semi-bold);
    font-size: var(--smaller-size);
    text-align: center;
    padding: var(--medium-size);
  }

  /*Etapes */

  .radio_input {
    @include flex-jccenter-ai-center;
    flex-direction: column;
    .input1,
    .input2 {
      margin-top: 20px;
      @include tablette {
        margin-top: 10px;
      }
    }

    .input1 span,
    .input2 span {
      color: var(--color-blue);
      font-weight: var(--bold-weight);
    }
  }
}

/*Bouton */

.btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  @include smartphone {
    flex-direction: column-reverse;
  }
}

.form__btn {
  background: var(--color-orange);
  color: #fff;
  border: none;
  width: 17rem;
  height: 2.5rem;
  margin: 5rem auto;
  border-radius: var(--medium-size);
  font-weight: var(--bold-weight);
  cursor: pointer;
  @include small-smartphone {
    margin: 2rem auto;
    width: 20rem;
  }
}
.form__btn2 {
  background: var(--color-blue);
  color: #fff;
  border: none;
  width: 17rem;
  height: 2.5rem;
  margin: 5rem auto;
  padding: 0.2rem;
  border-radius: var(--medium-size);
  font-weight: var(--bold-weight);
  cursor: pointer;
  @include small-tablette {
    display: none;
  }
}

/*Animation card_promo 

.container:before,
.container:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 5px var(--color-blue) solid;
  transition: all 0.5s;
  border-radius: 8px;
}
.container:before {
  top: -1px;
  left: -1px;
  border-width: 1px 0 0 1px;
}
.container:after {
  bottom: -1px;
  right: -1px;
  border-width: 0 1px 1px 0;
}
.container:hover.container:before,
.container:hover.container:after {
  width: calc(100% + 1px);
  height: calc(100% + 1px);
}
*/
