@import "reset";
@import "header";
@import "footer";
@import "mixins";

/*https://www.ibrahima-ndaw.com/fr/blog/awesome-stepper-form/ 
https://chat.openai.com/chat/15ce5562-a73c-4980-a34b-ef7cdc776017 */

/*Barre de progression */

.step{
  width:100%;
  height:15%;
}

.container_step {
  margin: 30vh auto;
  max-width: 835px;
  width: 100%;



  .progress--bar {
      display: flex;
      padding: 0;


      li {
          list-style-type: none;
          position: relative;
          text-align: center;
        color:  var(--color-transparent);
          width: 100%;
          font-weight:bold;
     
         
          &::before {
              content: counter(step);
              counter-increment: step;
              width: 50px;
              height: 50px;
              line-height: 50px;
              border: 1px solid var(--color-icon);
              display: block;
              text-align: center;
              margin: 0 auto 10px auto;
              border-radius: 50%;
              background-color: white;  
             color:white;
          }

          &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              background: var(--color-icon);
              top: 25px;
              left: -50%;
              z-index: -1;
              background: #35446c26;
           
          }

          &:first-child::after {
              content: none;
          
          }

          &.active {
              color: var(--color-orange);
              &::before {
                  border-color:  var(--color-orange);
                  background:  var(--color-orange);
                  background-image: url(/asset/images/icons8-euro-50.png);
                
                
              }

              + li::after {
                  background-color:  var(--color-orange);
                  
              }
          }
      }
  }
}


/*page formulaire */

.titre {
  @include flex-jccenter-ai-center;

}
.condition p {
  @include flex-jccenter-ai-center;
    font-weight:lighter;
    font-size:small;
    margin-top: 50px;
}



/*Tableau */
table {
  width:70vmax;

}
  .color_table1 {
background-color: var(--color-white);
  }
  .color_table2 {
    background-color: var(--color-forms);
      }
    
  th, td {
    text-align: center;
    padding:5px;
    font-size:large;
    border-radius: 8px;
  }

  th {
    background-color: var(--color-blue);
    text-align: center;
    color:white;
    font-weight: 600;
    width: 20%;
  }

  
/*Card Promo */

.card_promo {
  @include flex-jccenter-ai-center;
        padding: 10px;
        height:20vh;
        background: white;
        width:70vmax;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
        margin-top: 15%;
}
.card_content_promo h4{
 color: red;
 font-weight:500;
 text-decoration: none;
 font-size:medium;
 text-align: center;
}

/*Card Form */

.card_form {
  @include flex-jccenter-ai-center;
        padding: 10px;
        height:20vh;
        background: white;
        width:70vmax;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
        margin-top: 10%;
}

.card_text_form {
  color:var(  --color-blue);
  font-weight:800;
}

.card_content_form {
  margin-bottom: 7%;
}




  /*Etapes */

  .stepper {
   margin-top:150px;
    width: 20rem;
   @include flex-jccenter-ai-center;
    position: absolute;
    top: 5%;
    z-index:2;

  }
  

  .step--1,
  .step--2,
  .step--3,
  .step--4 {
    width: 5rem;
    padding: 0.5rem 0;
    background: #fff;
    color: #666;
    text-align: center;
  }
  .step--1,
  .step--2,
  .step--3 {
    border-right: 1px solid #666666;
  }

/*Formulaire 

  .form {
    position: absolute;
    width: 45vw;
    height:100;
    display: none;
    border-radius: 1rem;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background: rgb(255, 255, 255);
  }
  

  .text_form {
   color: var(--color-blue);
   font-weight:500;
   text-align: center;
  }

.content_form {
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-start;
  width:100%;
  height:100%;
} */

.input1 , .input2 {

  padding:20px;
}

label{

	margin-left: 10px;
}
.input1 span {
  color:var(--color-blue);
  font-weight: bold;
}

.input2 span {
  color:var(--color-blue);
  font-weight:bold;
}


  input[type="text"] {
    padding: 0.8rem;
    margin: auto;
    margin-top: 0.5rem;
    width: 100vmax;
    background:red;
    border-radius: 0.5rem;
    outline: none;
    border: 1px solid #bdbdbb;
  }


  .form__btn {
    float: right;
    background: var(--color-orange);
    color: #fff;
    outline: none;
    border: none;
    width: 16rem;
    height: 2.5rem;
    margin: 6rem auto;
    border-radius: 2rem;
    font-weight: 700;
    cursor: pointer;
  }

  .form__btn2 {
    background: var(--color-blue);
    color: #fff;
    outline: none;
    border: none;
    width: 16rem;
    height:2.5rem;
    margin: 6rem auto;
    border-radius: 2rem;
    
    font-weight: 700;
    cursor: pointer;
  }

/*
  .form--message-text {
    width: 25rem;
    background: #fff;
    color: #444;
    padding: 2rem 1rem;
    text-align: center;
    font-size: 1.4rem;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(51, 51, 51, 0.2);
    animation: fadeIn 0.8s;
    border-radius: 1rem;
  } 

  .form-active {
    z-index: 0;
    display: block;
  }
  .form-active-animate {
    animation: moveRight 1s;
  }
  .form-inactive {
    display: block;
    animation: moveLeft 1s;
  }
  
  .step-active {
    background: #E94E1B;
    color: #fff;
  
 
  } */

  /*Animation form*/
/*
  @keyframes moveRight {
  0% {
    transform: translateX(-27rem) scale(0.9);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem) scale(1);
    opacity: 1;
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0rem) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(27rem) scale(0.9);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*

/*Table responsive */

@media screen and (max-width: 600px) {
    table {
      width: 100vmax;

    }

    th, td {
      width: 100%;
      display: block;
      text-align: left;
      
    }
  }
