@import "reset";
@import "header";
@import "footer";
@import "mixins";

/*https://www.ibrahima-ndaw.com/fr/blog/awesome-stepper-form/ 
https://chat.openai.com/chat/15ce5562-a73c-4980-a34b-ef7cdc776017 */

/*page formulaire */


.formules {
height:100%;

}

.condition p {
  @include flex-jccenter-ai-center;
    font-weight:lighter;
    font-size:xx-small;
    margin-top: 10px;

}


/*Tableau */

table {
  @include flex-jccenter-ai-center;
}
  .color_table1 {
background-color: var(--color-white);
  }
  .color_table2 {
    background-color: var(--color-forms);
      }
    
  th, td {
   
    text-align: center;
    padding:15px;
    height:6vh;
    width: 12vmax;
    border-radius: 3%;
  }

  th {
    background-color: var(--color-blue);
    text-align: center;
    color:white;
    font-weight: 600;
    padding:10px;
    
  }

  
/*Card Promo */

.card_content_promo {
        display: flex;
        flex-direction: column;
        padding: 5%;
        height:20vh;
        width:20vmax;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}



  /*Etapes */

  .stepper {
   margin-top:150px;
    width: 20rem;
   @include flex-jccenter-ai-center;
    position: absolute;
    top: 5%;
    z-index:2;

  }
  

  .step--1,
  .step--2,
  .step--3,
  .step--4 {
    width: 5rem;
    padding: 0.5rem 0;
    background: #fff;
    color: #666;
    text-align: center;
  }
  .step--1,
  .step--2,
  .step--3 {
    border-right: 1px solid #666666;
  }

/*Formulaire */

  .form {
    position: absolute;
    width: 45vw;
    height:100;
    display: none;
    border-radius: 1rem;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background: rgb(255, 255, 255);
  }
  

  .text_form {
   color: var(--color-blue);
   font-weight:500;
   text-align: center;
  }

.content_form {
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-start;
  width:100%;
  height:100%;
}

.input1 , .input2 {

  padding:20px;
  margin-right:10px;

}
label{

	margin-left: 10px;
}



  input[type="text"] {
    padding: 0.8rem;
    margin: auto;
    margin-top: 0.5rem;
    width: 100vmax;
    background:red;
    border-radius: 0.5rem;
    outline: none;
    border: 1px solid #bdbdbb;
  }


  .form__btn {
    background: var(--color-orange);
    color: #fff;
    outline: none;
    border: none;
    width: 15rem;
    margin: 2rem auto;
    border-radius: 0.9rem;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
  }

  .form--message-text {
    width: 25rem;
    background: #fff;
    color: #444;
    padding: 2rem 1rem;
    text-align: center;
    font-size: 1.4rem;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(51, 51, 51, 0.2);
    animation: fadeIn 0.8s;
    border-radius: 1rem;
  } 

  .form-active {
    z-index: 0;
    display: block;
  }
  .form-active-animate {
    animation: moveRight 1s;
  }
  .form-inactive {
    display: block;
    animation: moveLeft 1s;
  }
  
  .step-active {
    background: #E94E1B;
    color: #fff;
  
 
  }

  /*Animation form*/

  @keyframes moveRight {
  0% {
    transform: translateX(-27rem) scale(0.9);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem) scale(1);
    opacity: 1;
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0rem) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(27rem) scale(0.9);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Table responsive */

@media screen and (max-width: 600px) {
    table {
      width: 100%;
    }

    th, td {
      width: 100%;
      display: block;
      text-align: left;
    }
  }

