@import "reset";
@import "header";
@import "footer";
@import "mixins";

/*https://www.ibrahima-ndaw.com/fr/blog/awesome-stepper-form/*/

  main {
    height: 100vh;
    width: 100%;
   @include flex-jccenter-ai-center;
    flex-direction: column;
    position: relative;
    background: #0e4d910d;
  }

  .stepper {

   margin-top:150px;
    width: 20rem;
   @include flex-jccenter-ai-center;
    position: absolute;
    top: 5%;
    z-index:2;

  }
  
  .step--1,
  .step--2,
  .step--3,
  .step--4 {
    width: 5rem;
    padding: 0.5rem 0;
    background: #fff;
    color: #666;
    text-align: center;
  }
  .step--1,
  .step--2,
  .step--3 {
    border-right: 1px solid #666666;
  }

  .form {
    position: absolute;
    width: 45vw;
    height:80vh;
    display: none;
    border-radius: 1rem;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background: rgb(255, 255, 255);
  }
  

  .text_form {
   color: var(--color-blue);
   font-weight:500;
   text-align: center;

 

  }

.content_form {
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-start;
  width:100%;
  height:100%;
  
}

.input1 , .input2 {

  padding:20px;
  margin-right:10px;

}
label{

	margin-left: 10px;


}



  input[type="text"] {
    padding: 0.8rem;
    margin: auto;
    margin-top: 0.5rem;
    width: 100vmax;
    background:red;
    border-radius: 0.5rem;
    outline: none;
    border: 1px solid #bdbdbb;
  }




  .form__btn {
    background: var(--color-orange);
    color: #fff;
    outline: none;
    border: none;
    width: 15rem;
    margin: 2rem auto;
    border-radius: 0.9rem;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
  }


  .form-active {
    z-index: 0;
    display: block;
  }
  .form-active-animate {
    animation: moveRight 1s;
  }
  .form-inactive {
    display: block;
    animation: moveLeft 1s;
  }
  
  .step-active {
    background: #E94E1B;
    color: #fff;
  
 
  }

  /*Animation*/

  @keyframes moveRight {
  0% {
    transform: translateX(-27rem) scale(0.9);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem) scale(1);
    opacity: 1;
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0rem) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(27rem) scale(0.9);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}