@import "reset";
@import "header";
@import"banniere";
@import "footer";


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    text-align: center;
    max-width: 800px;
}

.about p {
    line-height: 3rem;
}

.container_cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5rem 0;
    gap: 8rem;

}

@media (width <480px) {
    .container {
        flex-direction: column;
    }

    .container div {
        margin: 2rem 0;
    }
}






