@import "reset";
@import "header";
@import "footer";


.container_picture {
    background-image: url(../images/banniere.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    #carousel {
        width: 30%;
        height: 50%;
        overflow: hidden;
        position: relative;
        background-color: var(--color-blue);
        border-radius: 7px;
        .slide {
            width:100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }
          .previous,
          .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
          }
          
          .next {
            right: 0;
            border-radius: 3px 0 0 3px;
          }
          
          .previous:hover,
          .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
          }
      }

}


  

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    text-align: center;
    max-width: 800px;
}

.about p {
    line-height: 3rem;
}

.container_cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5rem 0;
    gap: 8rem;

}

.card {
    width: 270px;
    height: 168.75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--smaller-size);
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card_left {
    background: var(--color-blue);

}

.card_right {
    background: var(--color-red);

}

.container_stat {
    margin: 5rem 0;
}



.left {
    background-color: var(--color-blue);
}

.mid {
    background: var(--color-orange);
}

.right {
    background: var(--color-blue);
}



@media (width <480px) {
    .container {
        flex-direction: column;
    }

    .container div {
        margin: 2rem 0;
    }
}






