:root {
    /* color */

    --color-blue: #0E4E91;
    --color-yellow: #F39200;
    --color-orange: #E8501F;
    --color-card: #FDFDFD;
    --color-icon: #505050;
    --color-forms: #D2D2D2;
    --color-red: #D71818;

    /* Font */

    --font-family: 'Open Sans', sans-serif;

    /* Font Size */
    --hight-size: 3rem;
    --biggest-size: 2.6rem;
    --big-size: 2.4rem;
    --medium-size: 2rem;
    --normal-size: 1.8rem;
    --small-size: 1.6rem;
    --smaller-size: 1.4rem;
    --smalling-size: 1.1rem;
}